@model IEnumerable<Course>

<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="StudentCourseConnection"
                                        asp-action="ShowAllStudents">All Students</a>
    </li>


    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="StudentCourseConnection"
               asp-action="StudentsByCourse" asp-route-id="@item.Id">@item.Name</a>
        </li>

    }
</ul>