@model IEnumerable<Homework>

@{
    ViewData["Title"] = "Homework";
}

@*==========CREATE HOMEWORK MODAL=========*@
<div class="modal fade" tabindex="-1" role="dialog"
     data-bind="modal:showDialog" id="createHomeworkModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Create new homework</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" name="create-new-homework" id="create-home-form">


                    <div class="form-group">
                        <label>Title</label>
                        <input data-bind="value:Title" type="text" class="form-control"
                               name="title" id="homeworkTitle" />
                    </div>

                    <div class="form-group">
                        <label>Content</label>
                        <input type="file"
                               name="TextContent" id="inputFile" />
                        <textarea data-bind="textInput: TextContent" style="width: 470px; height: 150px;"
                                  class="form-control" name="content" id="homeworkContent"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Image</label>
                        <input style="border:none" type="file" data-bind="event:{ change: $root.fileSelect }"
                               class="form-control" id="homeworkCreateImg" /><br>
                        <output id="list"></output>

                        @*<div id="imagePreview" class="img-thumbnail">*@
                        <img data-bind = "attr: {src: $root.HomeworkPicture().src}" height="200" id="targetImg"/>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                <input form="create-home-form" type="submit" value="Add" class="btn btn-success"
                       id="createNewStudent" data-bind="click : submit">
            </div>

        </div>
    </div>
</div>

@*====== STUDENT/TEACHER VIEW ======*@

<ul class="folders">
    @*above is not a comment it is legit ko syntax :D*@
    <!-- ko foreach: folders -->
    <li data-bind="text: $data,
            css: { selected: $data == $root.chosenFolderId() },
            click: $root.goToFolder">
    </li>
    <!-- /ko -->
    <li data-bind="click: function(){showDialog(true)}, ifnot: isStudentStatus">
        <i class="material-icons" data-toggle="tooltip" title="New">&#xE147</i>
        <span>New</span>
    </li>
</ul>

<!-- Homework grid -->
<table data-bind="ifnot: toggleDetailedView" class="mails">
    <thead>
        <tr data-bind="click: $root.goToHomework">
            <th>Title</th>
            <!-- ko if: isTeacherStatus -->
            <th>Submitted by Student</th>
            <th>Creation Date</th>
            <!-- /ko -->
            <!-- ko if: isStudentStatus -->
            <th>Teacher</th>
            <th>Submited on</th>
            <!-- /ko -->
        </tr>
    </thead>

    <tbody data-bind="foreach: homeworks">
        <tr data-bind="click: $root.goToHomework">
            <td data-bind="text: Title"></td>
            <!-- ko if: $root.isTeacherStatus -->
            <td data-bind="text: IsDone"></td>
            <td data-bind="text: CreationDate"></td>
            <!-- /ko -->
            <!-- ko if: $root.isStudentStatus -->
            <td data-bind="text: TeacherName"></td>
            <td data-bind="text: studentSubmissionDate"></td>
            <!-- /ko -->

        </tr>
    </tbody>

</table>

<!-- Chosen mail -->
<div data-bind="if: toggleDetailedView">
    <div class="viewMail" data-bind="with: chosenHomeworkData">
        <div class="mailInfo">
            <h1 data-bind="text: title"></h1>
            <p><label>Content</label>: <span data-bind="text: textContent"></span></p>
        </div>
    </div>
</div>


<div data-bind="visible: toggleDetailedView">
    <h3>Select students:</h3>
    <div data-bind="if: studentNotAssignedYet().length > 0" class="heading">
        <input type="checkbox" data-bind="checked: SelectAll" title="Select all/none" /> Select all
    </div>

    <div data-bind="if: studentNotAssignedYet().length <= 0" class="heading">
        <p>This homework is assigned to all available students </p>
    </div>

    <div data-bind="foreach: studentNotAssignedYet">
        <div>
            <input type="checkbox" data-bind="checked: $parent.selectedStudents, checkedValue: $data" /><span data-bind="text: FullName"></span>
        </div>
    </div>

    <h3 data-bind="if: studentNotAssignedYet().length > 0">You selected:</h3>
    <div data-bind="foreach: selectedStudents">
        <div data-bind="text: FullName"></div>
    </div>

    <h2>Students who got this assigment: </h2>
    <div data-bind="foreach: studentsPerHomework">
        <p data-bind="text: FullName"></p>

    </div>
    <button data-bind="click : saveStudents">Confirm</button>
</div>



@*<table>
        <thead><tr><th>Option</th><th>Importance</th></tr></thead>
        <tbody data-bind="foreach: answers">
            <tr>
                <td data-bind="text: answerText"></td>
                <td><select data-bind="options: [1,2,3,4,5], value: points"></select></td>
            </tr>
        </tbody>
    </table>*@







@section Scripts{
    <script src="~/js/homeworkIndex.js"></script>
    <script>
        document.getElementById('inputFile')
            .addEventListener('change', function () {

                var fr = new FileReader();
                fr.onload = function () {
                    document.getElementById('homeworkContent')
                        .innerHTML = fr.result;
                }

                fr.readAsText(this.files[0]);
            })
    </script>

}
