/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    /*font-family: 'Happy Monkey', cursive;*/
    font-family: 'Jura', sans-serif;
}

.footerX {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  /*color: #0366d6;*/
   text-decoration: none;
   color:white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

li.nav-item.logout{
    position: absolute;
    top:10px;
    right:10px;
    list-style: none;
}

.error {
    color: red;
    /*background-color: #f2dede;
    border-color: #ebccd1;
    padding: 1px 20px 1px 20px;*/
}

thead {
    background-color: #006DCC;
    color: white;
}

/*icons*/

#menu-toggle {
    font-size: 36px;
    color: blue;
    cursor: pointer;
}

.employee {
    vertical-align: bottom;
    font-size: 24px !important;
    padding-right: 5px;
}

#nopad {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}

#log {
    text-decoration:none;
    color:black;
}

.side-icons {
    vertical-align: bottom;
    font-size: 24px !important;
    padding-right: 5px;
    padding-left: 5px;
    float:right;
}

/*social media icons*/
.social{
    position:absolute;
    top: 90%;
    transform:translate(10%);
}

.social > div{
      margin: 0px 10px;
      width:40px;
      height:40px;
      background:#eee;
      text-align:center;
      line-height:40px;
      border-radius:50%;
      color:#fff;
      transition:all 300ms ease-in-out;
}
div.fa-facebook-f{
background: #5252b8;
}

div.fa-twitter{
background: #00acee;
}

div.fa-linkedin-in{
    background: #55acee;
}

div.fa-facebook-f:hover {
    color: #5252b8;
    background: #fff;
    border: 1px solid #5252b8;
}
div.fa-twitter:hover {
    color: #00acee;
    background: #fff;
    border: 1px solid #00acee;
}
div.fa-linkedin-in:hover {
    color: #55acee;
    background: #fff;
    border: 1px solid #55acee;
}

/*noblack background form modal*/
.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}

.modal-content {
    border: blue 6px solid;
}