/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    /*font-family: 'Happy Monkey', cursive;*/
    font-family: 'Jura', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  /*color: #0366d6;*/
   text-decoration: none;
   color:steelblue;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* footer styles
-------------------------------------------------- */
html, body {
    height: 100%;
}

.page-wrap {
/*    height: 1000px; */
    /* Force height on body */
    position: relative;
    
}
.footer {
    position: relative;
    bottom: 0;
    background-color: steelblue;
    color:white;
    height: auto;
}

    .footer .about-company i {
        font-size: 25px;
    }

    .footer .about-company a {
        color: white;
    }

        .footer .about-company a:hover {
            color: #4180cb;
        }

    .footer .location i {
        font-size: 18px;
    }

    .footer .copyright p {
        border-top: 1px solid rgba(255, 255, 255, .1);
        text-align: center;
    }

.small-logo {
    display: inline-block;
    vertical-align: middle;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*/
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

li.nav-item.logout{
    position: absolute;
    top:10px;
    right:10px;
    list-style: none;
}

.error {
    color: red;
    /*background-color: #f2dede;
    border-color: #ebccd1;
    padding: 1px 20px 1px 20px;*/
}

/*thead {
    background-color: #006DCC;
    color: white;
}*/

/*icons*/

/*homework notification*/
.book-homework {
    font-size: 20px;
    color: steelblue;
    cursor: pointer;
    padding-right:8px;
    padding-top:8px;
    position:relative;
    display: none;
}
#txt {
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: white;
    border-radius: 25px;
    position: absolute;
    padding: 2px;
    top: 0px;
    right: 0px;
}
/*end of homework notf*/

#menu-toggle {
    font-size: 36px;
    color: steelblue;
    cursor: pointer;
}

.employee {
    vertical-align: bottom;
    font-size: 24px !important;
    padding-right: 5px;
}

#nopad {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}

#log {
    text-decoration:none;
    color:black;
}

.side-icons {
    vertical-align: bottom;
    font-size: 24px !important;
    padding-right: 5px;
    padding-left: 5px;
    float:right;
}

/*social media icons*/
.social{
    position:absolute;
    top: 90%;
    transform:translate(10%);
}

.social > div{
      margin: 0px 10px;
      width:40px;
      height:40px;
      background:#eee;
      text-align:center;
      line-height:40px;
      border-radius:50%;
      color:#fff;
      transition:all 300ms ease-in-out;
}
div.fa-github {
    background: mediumseagreen;
}

div.fa-stack-overflow {
    background: darkorange;
}

div.fa-linkedin-in{
    background: #55acee;
}

div.fa-github:hover {
    color: mediumseagreen;
    background: #fff;
    border: 1px solid mediumseagreen;
}
div.fa-stack-overflow:hover {
    color: darkorange;
    background: #fff;
    border: 1px solid darkorange;
}
div.fa-linkedin-in:hover {
    color: #55acee;
    background: #fff;
    border: 1px solid #55acee;
}

/*noblack background form modal*/
.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}

/*.modal-content {
    border: blue 6px solid;
}*/

/*icon eye*/
.see-homework{
    cursor: pointer;
}

.biggerFont{
    font-size:20px;
}