@if (User.IsInRole("teacher"))
{
    <h2>Lesson plan</h2>
    <div id='calendar'></div>

    @*CREATE NEW CLASS-------------------*@
    <div id="createEvent" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Create new Class</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                <div class="modal-body">
                    <form method="post" name="createNewEvent" id="createEventform">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" id="creatTitle" />
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" name="description" id="description" />
                        </div>

                        <div class="form-group">
                            <label>Course</label>
                            <select asp-items="@ViewBag.Courses" class="form-control" name="course">
                            </select>
                        </div>
                        <input type="hidden" name="start" id="eventStart" />
                        <input type="hidden" name="end" id="eventEnd" />

                    </form>


                </div>

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Add" class="btn btn-success" id="createNewEvent">
                </div>

            </div>
        </div>
    </div>

    @*EDIT CLASS-------------------*@
    <div id="editEvent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="row">
                    <div class="col-6">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Class</h4>

                        </div>

                        <div class="modal-body">
                            <form method="post" name="editNewEvent" id="editEventform">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" name="title" id="editTitle" />
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" name="description" id="editDescription" />
                                </div>

                                <div class="form-group">
                                    <label>Course</label>
                                    <select asp-items="@ViewBag.Courses" class="form-control" name="course" id="editCourse">
                                    </select>
                                </div>
                                <input type="hidden" name="start" id="eventStartEdit" />
                                <input type="hidden" name="end" id="eventEndEdit" />
                                <input type="hidden" name="id" id="deleteId" />
                            </form>

                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="Delete" class="btn btn-danger mr-auto btn-sm" id="deleteEvent">

                            <input type="button" value="Cancel" class="btn btn-secondary btn-sm" data-dismiss="modal" id="canelModal">
                            <input type="submit" value="Edit" class="btn btn-info btn-sm" id="editEventBtn">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="modal-header">
                            <h4 class="modal-title">Check attendance</h4>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">
                                &times;
                            </button>
                        </div>

                        <div class="modal-body">

                            @*<form method="post" name="editNewEvent" id="editEventform">
                                    <div class="form-group">
                                        <label class="card">Name</label>
                                        <input type="checkbox" name="name" id="studentName" />
                                    </div>


                                </form>*@
                            <form method="post" name="saveAttendanceForm" id="saveAttendanceFormId">
                                @*<div class="row form-row">
                                        <div class='col'>
                                            <label class="form-check-label" for="customCheck">Franciszek Zawadzki </label>
                                        </div>
                                        <div class="col-right">
                                            <input type="checkbox" class="form-check-input styled-checkbox" id="customCheck" name="example1" data-studentId="">
                                        </div>
                                    </div>*@

                                <input type="hidden" name="attendanceEvent" id="attendanceEventId" />

                            </form>

                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="Save" class="btn btn-info btn-sm" id="saveAttendance">
                        </div>
                    </div>
                </div>

            </div>
            <div id="loader" class="ldio-bh5k7c8rd5c hidden" style="left: 50%; top:-100px">
                <div></div><div></div>
            </div>
        </div>

    </div>
}
else if (User.IsInRole("student"))
{
    <div id='calendarStudent'></div>
}

<div id="loader" class="ldio-bh5k7c8rd5c hidden" style="left: 50%;">
    <div></div><div></div>
</div>

@section Scripts{
    <link href="~/js/Calendar/main.min.css" rel='stylesheet' />
    <link href="~/js/Calendar/customCheckbox.css" rel='stylesheet' />
    <script src='~/js/Calendar/main.min.js'></script>
    <script src="~/js/Calendar/calendar.js"></script>
}