@model IEnumerable<GalileuszSchool.Models.LessonPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Lesson Plan</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>




@*@foreach (int classRoom in)*@





    <table class="table">
        <thead>
            <tr>
                @foreach (var day in Enum.GetNames(typeof(Days)))
                {
                    <th>
                        @Html.DisplayName(day)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (int day in Enum.GetValues(typeof(Days)))
                {
                    <td>
                        @foreach (var item in Model)
                        {
                            <table>
                                <tr>
                                    @if (item.day == (Days)day)
                                    {
                                        <td>
                                            @{string hStart = item.startTime.Hours.ToString();}
                                            @{string mStart = item.startTime.Minutes.ToString("00");}
                                            @{string hStop = item.stopTime.Hours.ToString();}
                                            @{string mStop = item.stopTime.Minutes.ToString("00");}
                                            @hStart:@mStart - @hStop:@mStop
                                            <br />
                                            <a asp-action="Details" asp-route-id="@item.Id">@item.Course.Name</a>
                                            <br />
                                            @Html.DisplayFor(modelItem => item.classroom)
                                        </td>
                                    }
                                </tr>
                            </table>

                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>

