@model UserEdit

@{
    ViewData["Title"] = "Edit";
}

<div class="row">

    <div class="col-5">

        <h3>Edit your profile</h3>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div class="col-7">
        <div data-bind="if: isStudentStatus">
            <h3>Attendance and Payment</h3>

            <div data-bind="ifnot: noClassesYet">
                <!-- Classes grid -->
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Class title</th>
                            <th>Course</th>
                            <th>Date</th>
                            <th>Attendance</th>
                            <th>Paid</th>
                            <th>Price</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody data-bind="foreach: classes">
                        <tr>
                            <td data-bind="text: Title"></td>
                            <td data-bind="text: Course"></td>
                            <td data-bind="text: Date"></td>
                            <td>
                                <h5>
                                    <span data-bind="text: IsPresent, css:{
                                        'badge' : true,
                                        'badge-success' : IsPresent() == 'Present',
                                        'badge-danger' : IsPresent() == 'Absent'
                                        }">
                                    </span>
                                </h5>
                            </td>


                            <td>
                                <!-- ko if: IsPresent2 -->
                                <h5>
                                    <span data-bind="text: IsPaid, css:{
                                        'badge' : true,
                                        'badge-success' : IsPaid() == 'Yes',
                                        'badge-danger' : IsPaid() == 'No'
                                        }">
                                    </span>
                                </h5>

                                <!-- /ko -->
                            </td>

                            <!-- ko if: IsPresent2 -->
                            <td data-bind="text: Price">
                            </td>
                            <!-- /ko -->
                            <td data-bind="if: IsPresent2">
                                <div class="pretty p-icon p-jelly p-round p-bigger">
                                    <input type="checkbox" data-bind="checked: Checked,
                                       disable:  IsPaid() == 'Yes' " />
                                    <div class="state p-info">
                                        <i class="icon material-icons">done</i>
                                        <label></label>
                                    </div>
                                </div>
                            </td>



                        </tr>
                    </tbody>

                </table>
                <div style="float: right; display: block;">
                    <div>
                        <h5 style="display: inline-block;">Subtotal:</h5>
                        <p class="ml-2" data-bind="text: grandTotal" style="display: inline-block;font-weight: bold; font-size:large"></p>
                        <p class="ml-2" style="display: inline-block; font-size:large">PLN</p>
                    </div>

                </div>
                <div style="clear: both">
                    <div style="float: right;">
                        <h5 style="display: inline-block;">Pay with:</h5>
                        <a data-bind="attr: { href: $root.dotPayLink() }" style="display: inline-block;" class="ml-2">
                            <img style="height:50px; width:100px;" src="~/media/PaymentsPngs/dotpay_b2_160x83_eng.png" alt="" />
                        </a>
                        <div style="display: inline-block;" id="container"></div>
                    </div>
                </div>
            </div>
            <div data-bind="if: noClassesYet">
                <p>It seems you are not assigned to any classes yet. Please contact your teacher.</p>
            </div>


        </div>


    </div>



</div>
<div id="loader" class="ldio-bh5k7c8rd5c hidden" style="left: 50%;">
    <div></div><div></div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/css/account/account-edit.css" rel="stylesheet">
    <script src='~/js/StudentPage/studentPage.js'></script>

}
