@model User

@{
    ViewData["Title"] = "Register";
}

    <div class="container">
        <h1 class="text-center">Register</h1>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="pretty p-default p-round p-thick">
                            <input class="checkBox" id="isStudent" asp-for="IsStudent" type="checkbox" value="true" />
                            <div class="state p-primary-o">
                                <label asp-for="IsStudent">I am a student or parent</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="pretty p-default p-round p-thick">
                            <input class="checkBox" id="isTeacher" asp-for="IsTeacher" type="checkbox" value="true" />
                            <div class="state p-primary-o">
                                <label asp-for="IsTeacher">I am a teacher</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </form>
                
            </div>
        </div>

        

    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.checkBox').click(function () {
            updateCheckBox(this);
        });

        function updateCheckBox(element) {
            if(!element.checked) {
                $('.checkBox')
                    .prop('disabled', false)
                    .prop('checked', false);
            }else {
                if ($('#isStudent').prop('checked') == true) {
                    $('#isTeacher')
                        .prop('disabled', true)
                        .prop("checked", false);
                } else {
                    $('#isStudent')
                        .prop('disabled', true)
                        .prop("checked", false);
                }
            }
        }

    </script>
}
