
<!DOCTYPE html>
<html lang="en">
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - GalileuszSchool</title>


    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Jura|Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" rel="stylesheet" >*@
    <script src="https://use.fontawesome.com/6f3079242d.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
    <link href="~/css/emailStyle.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/student-submission-table.css" rel="stylesheet" />
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @*<script async defer
                src="https://maps.googleapis.com/maps/api/js?key=@Configuration["GoogleMapsApiKey"]&callback=initMap">
        </script>*@



</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">

            <div class="sidebar-heading" style="background-color:white">
                <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Edit">
                    <img class="ml-3" src="~/media/logo2.png" alt="" height="45" width="180" />
                </a>
            </div>

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Calendar" asp-action="Index" class="list-group-item list-group-item-action bg-light">
                    Lesson plan
                    <i class="material-icons-outlined side-icons">poll</i>
                </a>
                <a asp-controller="Homework" asp-action="Index" class="list-group-item list-group-item-action bg-light">
                    Homework
                    <i class="material-icons-outlined side-icons">home_work</i>
                </a >
                <a asp-controller="Account" asp-action="Edit" class="list-group-item list-group-item-action bg-light">
                    Payment
                    <i class="material-icons-outlined side-icons">payment</i>
                </a>
                <a asp-area="Admin" asp-controller="Courses" asp-action="Index" class="list-group-item list-group-item-action bg-light">
                    Admin panel
                    <i class="material-icons-outlined side-icons">supervisor_account</i>
                </a>
            }
            else
            {
                <a href="#" class="list-group-item list-group-item-action bg-light">Contact</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">About Us</a>
            }
            <div class="social">
                <div class="fab fa-facebook-f"></div>
                <div class="fab fa-twitter"></div>
                <div class="fab fa-linkedin-in"></div>
            </div>

        </div>
        @*sidebar END*@



        <!-- /#sidebar-wrapper -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <i id="menu-toggle" class="material-icons md-36" title="Menu" style="padding-right:5px;">&#xe5d2;</i>

                @if (!(User?.Identity?.IsAuthenticated ?? false))
                {<strong>Welcome to Galileusz School </strong>}

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                        @*<li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>*@
                        <li class="nav-item">
                            @*@if(User.IsInRole("student")){*@
                            <a>
                                <i class="fa fa-book book-homework" aria-hidden="true" data-toggle="tooltip" data-placement="left"
                                   title=""><div id="txt"></div></i>
                            </a>
                            @*}*@
                        </li>

                        <li class="nav-item dropdown">

                            @if (User?.Identity?.IsAuthenticated ?? false)
                            {

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <strong>Welcome @User.Identity.Name.First().ToString().ToUpper()@User.Identity.Name.Substring(1, User.Identity.Name.IndexOf("-") - 1)</strong>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item" id="nopad">
                                        <i class="material-icons-outlined employee">keyboard_backspace</i>
                                        <a asp-controller="Account" asp-action="Logout" id="log"> Log out</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-item" id="nopad">
                                        <i class="material-icons-outlined employee">settings</i>
                                        <a asp-controller="Account" asp-action="Edit" id="log">Account settings</a>
                                    </li>
                                </ul>
                            }
                            else
                            {

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Log in
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item " id="nopad">
                                        <i class="material-icons-outlined employee">school</i>
                                        <a asp-controller="Account" asp-action="Login" id="log">Log in as student or parent</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-item" id="nopad">
                                        <i class="material-icons employee">work_outline</i>
                                        <a asp-controller="Account" asp-action="Login" id="log">Log in as employee</a>
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="page-wrap">
                <div class="container" style="margin-bottom: 500px;">
                    <main role="main" class="pb-3">
                        <partial name="_NotificationPartial" />
                        <partial name="_CookieConsentPartial" />
                        @RenderBody()
                    </main>
                </div>
                <footer class="footer">
                    <div class="" style="position: relative;">
                        <div class="row">

                            <div class="col-5 about-company mt-3 pl-4">
                                <img class="mr-2 small-logo" src="~/media/logo-small.png" alt="" height="35" width="35" />
                                <h2 class="mt-2 small-logo">Galileusz School</h2>

                                <h4>Newsletter</h4>
                                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>

                                <div class="col-xs-3 input-group">
                                    <input type="text" class="form-control" size="20" placeholder="You Email">
                                    <span class="input-group-btn">
                                        <button class="btn btn-outline-light" type="button">Subscribe</button>
                                    </span>
                                </div>


                            </div>

                            <div class="col-4 mt-4" id="map">

                            </div>

                            <div class="col-3 location " style="text-align: center; padding-left:0px;">
                                <h4 class="mt-4">Contact Us</h4>
                                <p class="mb-2"><span class="material-icons mr-1" style="vertical-align: middle">location_on</span>777 Aleje Jerozolimskie Warsaw</p>
                                <p class="mb-1"><i class="fa fa-phone mr-1"></i>+48 22 75-43-00</p>
                                <p><span class="material-icons mr-1" style="vertical-align: middle">mail</span>info@galileusz.com</p>

                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col copyright">
                                <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

        </div>

        <!-- /#page-content-wrapper -->
    </div>

    <script src="https://pay.google.com/gp/p/js/pay.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/knockout-3.5.1.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        @*var map;
        function initMap() {
            var coordinates = { lat: 52.199636, lng: 20.933612 }
            map = new google.maps.Map(document.getElementById("map"), {
                center: coordinates,
                zoom: 15
            });

            var marker = new google.maps.Marker({
                position: coordinates,
                map: map,
                title: "Galileusz School"
            });
        }*@
    </script>

    @RenderSection("Scripts", required: true)


</body>

</html>
