@model IEnumerable<Student>

@{
    ViewData["Title"] = "Students";
}

<h1 style="display: inline;">Students</h1>

<p style="display: inline;">
    <a href="#createStudentModal" class="btn btn-primary" data-toggle="modal">
        <span>Add new</span>
    </a>
</p>
<table id="studentTable">
    <thead>
        <tr>

            <th>
                Image
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>

            <th>
                Phone number
            </th>
            
            <th>
                Email
            </th>

            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
        
</table>
<div id="loader" class="ldio-bh5k7c8rd5c hidden" style="left: 90%;top:-620px">
    <div></div><div></div>
</div>


@*---------------->CREATE STUDENT MODAL------------*@
<div id="createStudentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" name="create-new-student" id="create-student-form">
                <div class="modal-header">
                    <h4 class="modal-title">Create new student</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" onchange="previewFile(this)" class="form-control" name="image" id="studentCreateImg" /><br>
                        @*<div id="imagePreview" class="img-thumbnail">*@
                        <img src="" height="200" id="targetImg" alt="" />
                    </div>

                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" name="FirstName" id="studentFirstName" />
                    </div>

                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" name="LastName" id="studentLastName" />
                    </div>

                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="text" class="form-control" name="PhoneNumber" id="phoneNumber" />
                    </div>
                    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="Email" id="studentEmail" />
                    </div>

                </div>

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Add" class="btn btn-success" id="createNewStudent">
                </div>

            </form>
        </div>
    </div>
</div>


@*---------------->EDIT STUDENT MODAL------------*@
<div id="editStudentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" name="edit-student" asp-controller="Students" asp-action="Edit" id="editStudentForm">
                <div class="modal-header">
                    <h4 class="modal-title">Edit student</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" onchange="previewFile(this)" class="form-control" name="image" id="studentImageEdit" /><br>
                        @*<div id="imagePreview" class="img-thumbnail">*@
                        <img src="" height="200" id="targetImgStudentEdit" alt="" />
                    </div>

                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" name="FirstName" id="editStudentFirstName" />
                    </div>

                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" name="LastName" id="editStudentLastName" />
                    </div>

                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="text" class="form-control" name="PhoneNumber" id="editStudentPhone" />
                    </div>
                    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="Email" id="editStudentEmail" />
                    </div>

                </div>

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Update" class="btn btn-success" id="editStudentPost">

                    @*<input type="hidden" name="createEventDate" id="createEventDate" />*@
                    <input type="hidden" name="idStudentEdit" id="idStudentEdit" />
                </div>

            </form>
        </div>
    </div>
</div>


@*---------------->DELETE STUDENT MODAL------------*@
<div id="deleteStudentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Students" asp-action="Delete">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalTitleStudent"></h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                <div class="modal-body">
                    <p>Do you really want to remove this student?</p>
                    <p class="text=warning"><small>This action cannot be undone.</small></p>
                </div>

                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="submit" value="Delete" class="btn btn-danger" id="deleteStudent">

                    <input type="hidden" name="id" id="deleteStudentId" />
                    <input type="hidden" name="studentName" id="deleteStudentName" />
                    <input type="hidden" name="studentLastName" id="deleteStudentLastName" />
                </div>

            </form>

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/AdminArea/studentIndex.js"></script>
}
