<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Admin area</title>

    <link href="~/css/spinner/spinner.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Jura|Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="~/css/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">


        @*sidebar*@
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading" style="background-color:white">
                <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="ContactMe">
                    <img class="ml-3" src="~/media/logo2.png" alt="" height="45" width="180" />
                </a>
            </div>



            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Pages" asp-action="Index">Pages</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Courses" asp-action="Index">Courses</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Teachers" asp-action="Index">Teachers</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Students" asp-action="Index">Students</a>
                @*<a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="LessonPlan" asp-action="Index">LessonPlan</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="ClassRooms" asp-action="Index">Class Rooms</a>*@
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="StudentCourseConnection"
                   asp-action="ShowAllStudents">List of students</a>
                <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="User" asp-action="Index">All Users</a>

            }

        </div>

        @*sidebar END*@

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <i id="menu-toggle" class="material-icons md-36" title="Menu" style="padding-right:5px;">&#xe5d2;</i>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    @*<li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>*@

                    <li class="nav-item dropdown">


                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            
                             <strong>Welcome @User.Identity.Name</strong>

                            <a class="btn btn-outline-info" asp-area="" asp-controller="Account" asp-action="Logout" id="log"> Log out </a>

                         }
                    </li>
                </ul>
            </div>
        </nav>
    </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container bg-light">
                <main role="main" class="pb-3" id="mainContainer">
                    <div id="divNotification" class="alert alert-success notification" style="display:none">
                    </div>
                    <partial name="_NotificationPartial" />
                    @RenderBody()
                </main>
            </div>

        </div>
        <!-- /#page-content-wrapper -->
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/DataTables/jquery.dataTables.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/knockout-3.5.1.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>
